<phpunit bootstrap="bootstrap.php"
         stopOnFailure="true"
         backupGlobals="true"
>
  <php>
    <server name="KERNEL_CLASS" value="AppKernel" />
  </php>
    <testsuites>
        <testsuite name="Unit">
            <directory>./adapter</directory>
        </testsuite>
    </testsuites>
</phpunit>
